In [4]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 5.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/16.1 MB 6.0 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/16.1 MB 6.9 MB/s eta 0:00:02
   ------------- -------------------------- 5.2/16.1 MB 7.1 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.1 MB 7.2 MB/s eta 0:00:02
   ------------------ --------------------- 7.6/16.1 MB 6.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/16.1 MB 6.6 MB/s eta 0:00:02
   -------------------------- ------------- 10.5/16.1 MB 6.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.6/16.1 MB 7.1 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 7.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [7]:
import mysql.connector

In [14]:
# create a data base
db = mysql.connector.connect( host="localhost",  user="root",  passwd="nikage205")

In [15]:
# cursor object c
cur = db.cursor()

In [18]:
# executing the create database statement
cur.execute("CREATE DATABASE employee_db")

In [19]:
# fetching all the databases
cur.execute("SHOW DATABASES")
for i in cur:
    print(i)
cur = db.cursor()

('employee_db',)
('information_schema',)
('java_connecter',)
('javadb',)
('mysql',)
('performance_schema',)
('sys',)

In [20]:
# create of table
db = mysql.connector.connect( host="localhost", user="root",  passwd="nikage205", database="employee_db")
cur = db.cursor()

In [21]:
# create statement for tblemployee
employeetbl_create = """CREATE TABLE `employee_db`.`tblemployee` (`empid` INT NOT NULL AUTO_INCREMENT,  `empname` VARCHAR(45) NULL,`department` VARCHAR(45) NULL,  `salary` INT NULL,   PRIMARY KEY (`empid`))"""
cur.execute(employeetbl_create)
cur= db.cursor()

In [22]:
# fetch tblemployee details in the database
cur.execute("desc tblemployee")
# print the table details
for i in cur:
    print(i)

('empid', 'int', 'NO', 'PRI', None, 'auto_increment')
('empname', 'varchar(45)', 'YES', '', None, '')
('department', 'varchar(45)', 'YES', '', None, '')
('salary', 'int', 'YES', '', None, '')

In [23]:
############### insert multirow for tblemployee
employeetbl_insert = """INSERT INTO tblemployee (empname, department,salary)    VALUES  (%s, %s, %s)"""
 # we save all the row data to be inserted in a data variable
data = [("Vani", "HR", "100000"), ("Krish", "Accounts", "60000"), ("Aishwarya", "Sales", "25000"),  ("Govind", "Marketing", "40000")]
 # execute the insert commands for all rows and commit to the database
cur.executemany(employeetbl_insert, data)
db.commit()

In [26]:
#################### fetch data from the table
employeetbl_select = """SELECT * FROM tblemployee"""
 # execute the select query to fetch all rows
cur.execute(employeetbl_select)
 # fetch all the data returned by the database
employee_data = cur.fetchall()
 # print all the data returned by the database
for e in employee_data:
    print(e)

InternalError: Unread result found