In [5]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 14.9 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [6]:
import mysql.connector

In [9]:
# create a data base
db = mysql.connector.connect( host="localhost",  user="root",  passwd="009483")

In [11]:
# cursor object c
cur = db.cursor()

In [13]:
# executing the create database statement
cur.execute("CREATE DATABASE employee_db")

In [15]:
# fetching all the databases
cur.execute("SHOW DATABASES")
for i in cur:
    print(i)
cur = db.cursor()

('CDACACTS',)
('Dept',)
('Emp',)
('EmployeeDB',)
('JavaDb',)
('assignment2',)
('cdac',)
('demo',)
('employee_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [19]:
# create of table
db = mysql.connector.connect( host="localhost", user="root",  passwd="009483", database="employee_db")
cur = db.cursor()

In [21]:
# create statement for tblemployee
employeetbl_create = """CREATE TABLE `employee_db`.`tblemployee` (`empid` INT NOT NULL AUTO_INCREMENT,  `empname` VARCHAR(45) NULL,`department` VARCHAR(45) NULL,  `salary` INT NULL,   PRIMARY KEY (`empid`))"""
cur.execute(employeetbl_create)
cur= db.cursor()

In [23]:
# fetch tblemployee details in the database
cur.execute("desc tblemployee")
# print the table details
for i in cur:
    print(i)

('empid', 'int', 'NO', 'PRI', None, 'auto_increment')
('empname', 'varchar(45)', 'YES', '', None, '')
('department', 'varchar(45)', 'YES', '', None, '')
('salary', 'int', 'YES', '', None, '')

In [27]:
############### insert multirow for tblemployee
employeetbl_insert = """INSERT INTO tblemployee (empname, department,salary)    VALUES  (%s, %s, %s)"""
 # we save all the row data to be inserted in a data variable
data = [("Vani", "HR", "100000"), ("Krish", "Accounts", "60000"), ("Aishwarya", "Sales", "25000"),  ("Govind", "Marketing", "40000")]
 # execute the insert commands for all rows and commit to the database
cur.executemany(employeetbl_insert, data)
db.commit()

In [29]:
#################### fetch data from the table
employeetbl_select = """SELECT * FROM tblemployee"""
 # execute the select query to fetch all rows
cur.execute(employeetbl_select)
 # fetch all the data returned by the database
employee_data = cur.fetchall()
 # print all the data returned by the database
for e in employee_data:
    print(e)

(1, 'Vani', 'HR', 100000)
(2, 'Krish', 'Accounts', 60000)
(3, 'Aishwarya', 'Sales', 25000)
(4, 'Govind', 'Marketing', 40000)
(5, 'Vani', 'HR', 100000)
(6, 'Krish', 'Accounts', 60000)
(7, 'Aishwarya', 'Sales', 25000)
(8, 'Govind', 'Marketing', 40000)

In [ ]:
import mysql.connector

# create a data base

db = mysql.connector.connect( host="localhost",  user="root",  passwd="admin1234")
# cursor object cur
cur = db.cursor()

# create database statement

cur.execute("CREATE DATABASE employee_db2")
# fetching all the databases
cur.execute("SHOW DATABASES")
for i in cur:
    print(i)
cur = db.cursor()

# create of table
db = mysql.connector.connect( host="localhost", user="root",  passwd="password", database="employee_db2")
cur = db.cursor()

# create statement for tblemployee
employeetbl_create = """CREATE TABLE `employee_db2`.`tblemployee` (`empid` INT NOT NULL AUTO_INCREMENT,  `empname` VARCHAR(45) NULL,`department` VARCHAR(45) NULL,  `salary` INT NULL, PRIMARY KEY (`empid`))"""
cur.execute(employeetbl_create)
cur= db.cursor()

# fetch tblemployee details in the database
cur.execute("desc tblemployee")
# print the table details
for i in cur:
    print(i)

############### insert multirow for tblemployee
employeetbl_insert = """INSERT INTO tblemployee (empname, department,salary)    VALUES  (%s, %s, %s)"""
# we save all the row data to be inserted in a data variable
data = [("Vani", "HR", "100000"), ("Krish", "Accounts", "60000"), ("Aishwarya", "Sales", "25000"),  ("Govind", "Marketing", "40000")]
# execute the insert commands for all rows and commit to the database
cur.executemany(employeetbl_insert, data)
db.commit()

#################### fetch data from the table
employeetbl_select = """SELECT * FROM tblemployee"""
# execute the select query to fetch all rows
cur.execute(employeetbl_select)
# fetch all the data returned by the database
employee_data = cur.fetchall()
# print all the data returned by the database
for e in employee_data:
    print(e)

##########update data from table

employeetbl_update = "UPDATE tblemployee SET salary = 115000 WHERE empid = 1"
# the salary of employee with
# employee id = 1 and commit to the database
cur.execute(employeetbl_update)
db.commit()

##################### delete statement for tblemployee

employeetbl_delete = "DELETE FROM tblemployee WHERE empid=3"
cur.execute(employeetbl_delete)
db.commit()
 
# closing the database connection
db.close()

In [38]:
import sys
print(sys.version)

3.12.5 | packaged by Anaconda, Inc. | (main, Sep 12 2024, 18:27:27) [GCC 11.2.0]